:root {
    --ht-bc: #add8e6;
    --ht-container: #daa520;
    --hb-bc: #00008b;
    --hb-box: #ee82ee;

    --evenly-sec-main: #ffffff;
    --odd-sec-main: #d3d3d3;
    --bc-col-30: #ffc0cb;
    --bc-col-70: #1e90ff;
    --bc-box-bot: #228b22;


}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  }

  img {
    max-width: 100%;
  }
  
  /* COMMON */
  /* Layout */

  .container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  
    /* debug */
    border: 1px dashed black;
    
  }
  
  .row {
    display: flex;
  }

  ul {
    list-style: none;
  }

  header {
    padding: 10px 0;
    line-height: 30px;

    /* debug */
    color: white;
    background-color: #255ee9;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  footer {

    /* debug */
    background-color: #23272a;    
  }

  section {
    padding: 30px 0;
  }
  
  
  /* debug */
  header [class^="col-"] {
    border: 1px dashed black;
    min-height: 80%;
  }
  
  main [class^="col-"] {
    border: 1px dashed black;
    min-height: 300px;
  }
  
  footer [class^="col-"] {
    border: 1px dashed black;
    min-height: 400px;
  }
  
  /* HEADER */
  /* header top */
  header .container {
    background-color: #255ee9;
    height: 35px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .right {
    text-align: right;
  }
  
  .col-25 {
    width: 25%;
  }
  
  .col-50 {
    width: 50%;
  }

  .login {
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    line-height: 10px 2;    
    width: 70px;
    height: 35px;
    border-radius: 20px;
    color: black;
    background-color: white;
  }

  
  /* MAIN */
  /* section middle */

  .bg-blue .container {
    min-height: 300px;
    width: 60%;

    /* debug */
    background-color: #ee82ee;
  }

  main .section:nth-child(odd) {
    background-color: #d3d3d3;
  }

  .col-40 {
    width: 40%;

    /* debug */
    background-color: lightcoral;
  }
  
  .col-60 {
    width: 60%;

    /* debug */
    background-color: lightblue;
  }  
  
  .green-box {
    height: 500px;

    /* debug */
    background-color: #228b22;
  }
  
  /* debug */
  .bg-blue {
    background-color: #00008b;
  }
      
  
  /* FOOTER */
  /* top section */

  .col-25 {
    width: 25%;
  }

  .col-30 {
    width: 30%;

    /* debug */
    background-color: #f08080;
  }

  .col-70 {
    width: 70%;

    /* debug */
    background-color:#20b2aa ;
  }

  /* bottom section */

  .footer-bottom {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-bottom: 0px;

  }

  .footer-bottom .container {
    height: 50px;

    /* debug */
    background-color: #7fffd4;
  }

  .footer-bottom .container .row {
    justify-content: space-between;
    align-items: center;
    
  }


  /* debug */
  .logo {
    border: 1px dashed black;
    
  }

  .button {
    border: 1px dashed black;
    background-color: #ffb6c1;
    text-align: center;
    padding: 2px 5px;
    height: 25px;
  }

  