:root {
    --ht-bc: #add8e6;
    --ht-container: #daa520;
    --hb-bc: #00008b;
    --hb-box: #ee82ee;

    --evenly-sec-main: #ffffff;
    --odd-sec-main: #d3d3d3;
    --bc-col-30: #ffc0cb;
    --bc-col-70: #1e90ff;
    --bc-box-bot: #228b22;


}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  }

  img {
    max-width: 100%;
  }
  
  /* COMMON */
  /* Layout */

  .container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
  }

  ul {
    list-style: none;
  }

  header {
    padding: 10px 0;
    line-height: 30px;
    color: white;
    background-color: #255ee9;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 20px 20px;
    max-width: 100%;
    border-radius: 20px;
  }

  p {
    line-height: 30px;
    padding-top: 30px;
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  footer {
    background-color: #23272a;    
  }

  section {
    padding: 30px 0;
  }
  
  /* HEADER */
  /* header top */
  header .container {
    background-color: #255ee9;
    height: 35px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .right {
    text-align: right;
  }
  
  /* .col-25 {
    width: 25%;
  } */
  
  /* .col-50 {
    width: 50%;
  } */

  .login {
    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 2px 10px;
  }

  
  /* MAIN */
  /* top section */
  .bg-blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .bg-blue .container {
    min-height: 300px;
    width: 50%;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #title {
    font-size: 3rem;
  }

  .wl{
    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 10px 10px;
    margin-right: 10px;
  }

  .bl {
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: 10px 10px;
  }

  /* middle section */
  main .section:nth-child(odd) {
    background-color: #d3d3d3;
  }

  main .container .row {
    align-items: center;
  }

  .col-40 {
    width: 40%;
  }
  
  .col-60 {
    width: 60%;
  }  
  
  .green-box {
    max-height: 1500px;
    text-align: center;
  }

  .container .stars {
    max-width: 35%;
    background-size: contain ;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .blue-link {
    border: 1px solid #7289da;
    color: white;
    background-color: #7289da;
    padding: 10px 10px;
    margin-top: 30px;
  }
  
  /* FOOTER */
  /* top section */
  .ita {
    max-width: 8%;
    margin-top: 20px;
  }

  .lingua {
    color: white;
  }

  .social {
    color: white;
    margin-top: 20px;
  }
  
  .col-25 {
    width: 25%;
    line-height: 1.7rem;
  }

  .col-30 {
    width: 30%;
    color: #7289da;
    font-size: 1rem;
    display: flex;
  }

  .col-70 {
    width: 70%;
    color: white;
  }

  .list-title {
    color: #7289da;
  }

  /* bottom section */

  .footer-bottom {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 10px;

  }

  .footer-bottom .container {
    max-height: 20%;
  }

  .footer-bottom .container .row {
    justify-content: space-between;    
  }

  .register {
    border: 1px solid #7289da;
    color: white;
    background-color: #7289da;
    padding: 10px 10px;
  }

  